extends ../layout

block content 
    link(rel="stylesheet", href="/css/login.css")
    script(src="/js/login.js")
    form.login(method="POST")
        if NEED 
            div.error= NEED 
        div 
            input.login.userid(type="text",placeholder="ID",name="m_id")
        div
            input.login.password(type="password",placeholder="비밀번호",name="m_password")
        div 
            input.btn_login(type="button",value="로그인")
        div.join
            input(type="button",value="회원가입")